.stars {
	color: $goldstars !important;
}

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	color: $whiteletters;
	background-color: $black1;
}

.whiteletters {
	color: $whiteletters;
}

#presentation {
	h1 {
		font-size: 2rem;
		text-transform: uppercase;
	}
}

/* Gilda */

.gilda-display-regular {
	font-family: "Gilda Display", serif;
	font-weight: 400;
	font-style: normal;
}

/* Barlow */

.barlow-thin {
	font-family: "Barlow", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.barlow-extralight {
	font-family: "Barlow", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.barlow-light {
	font-family: "Barlow", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.barlow-regular {
	font-family: "Barlow", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.barlow-medium {
	font-family: "Barlow", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.barlow-semibold {
	font-family: "Barlow", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.barlow-bold {
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.barlow-extrabold {
	font-family: "Barlow", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.barlow-black {
	font-family: "Barlow", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.barlow-thin-italic {
	font-family: "Barlow", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.barlow-extralight-italic {
	font-family: "Barlow", sans-serif;
	font-weight: 200;
	font-style: italic;
}

.barlow-light-italic {
	font-family: "Barlow", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.barlow-regular-italic {
	font-family: "Barlow", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.barlow-medium-italic {
	font-family: "Barlow", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.barlow-semibold-italic {
	font-family: "Barlow", sans-serif;
	font-weight: 600;
	font-style: italic;
}

.barlow-bold-italic {
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.barlow-extrabold-italic {
	font-family: "Barlow", sans-serif;
	font-weight: 800;
	font-style: italic;
}

.barlow-black-italic {
	font-family: "Barlow", sans-serif;
	font-weight: 900;
	font-style: italic;
}

/* Barlow condensé */

.barlow-condensed-thin {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.barlow-condensed-extralight {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.barlow-condensed-light {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.barlow-condensed-regular {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.barlow-condensed-medium {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.barlow-condensed-semibold {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.barlow-condensed-bold {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.barlow-condensed-extrabold {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.barlow-condensed-black {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.barlow-condensed-thin-italic {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.barlow-condensed-extralight-italic {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 200;
	font-style: italic;
}

.barlow-condensed-light-italic {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.barlow-condensed-regular-italic {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.barlow-condensed-medium-italic {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.barlow-condensed-semibold-italic {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 600;
	font-style: italic;
}

.barlow-condensed-bold-italic {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.barlow-condensed-extrabold-italic {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 800;
	font-style: italic;
}

.barlow-condensed-black-italic {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 900;
	font-style: italic;
}

%uppercase {
	text-transform: uppercase;
}

.uppercase {
	@extend %uppercase;
}