#index {
	float: right;
	width: 80%;
	box-sizing: border-box;
}
.flexhor,
.fleximages {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.flexhor {
	flex-wrap: wrap;
}
#presentation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: transparent;
	text-align: center;
	height: 75vh;
	@extend %uppercase;
	background-image: url(../img/slider/2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;

	button {
		color: $whiteletters;
		outline: none;
		border: none;
		@extend %uppercase;
	}

	h1 {
		font-size: 3rem;
	}
}

.fleximages {
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 50%;
	flex-wrap: wrap;
	img {
		width: 40%;
	}
}

.lighterblack {
	background-color: $black3;
}

.button {
	width: fit-content;
	padding: 1rem;
	background: none;
	border: solid 1px #ffffffff;
	outline-color: #ffffffff;
	outline-width: 1px;
	outline-style: solid;
}

.flexhor {
	width: 100%;
	box-sizing: border-box;

	.half {
		width: 50%;
	}

	.spaceven {
		justify-content: space-evenly;
	}
}

#services {
	box-sizing: border-box;
	div {
		width: 50%;
		box-sizing: border-box;
		margin: 0;
		height: 450px;
		img {
			height: 100%;
			overflow: hidden;
		}
	}
}

footer {
	a {
		color: $whiteletters;
	}
}

.checkicon {
	max-width: 2rem;
	max-height: 2rem;
}

.third {
	display: flex;
	width: 30%;
	flex-direction: column;
	text-align: left;
}

#emailto {
	text-decoration-line: underline;
	text-decoration-color: $goldletters;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
}
.rooms {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	flex-wrap: wrap;
	.room {
		width: 30%;
	}
	.room2 {
		width: 45%;
	}
}

#junior {
	background-image: url(../img/rooms/1.jpg);
}
#family {
	background-image: url(../img/rooms/2.jpg);
}
#double {
	background-image: url(../img/rooms/3.jpg);
}
#deluxe {
	background-image: url(../img/rooms/4.jpg);
}
#superior {
	background-image: url(../img/rooms/7.jpg);
}

.moreservices {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	h2 {
		display: block;
		width: 100%;
	}
	h4 {
		font-family: Merriweather;
	}
	div {
		flex-direction: column;
		width: 33%;
		border: solid 1px #92929280;
	}
	img {
		max-width: 100px;
		max-height: 100px;
	}
	p {
		color: $greyletters;
	}
}
