#presentation{
	width: 100%;
	background-color: transparent;
	@extend %uppercase;
	background-image: url(../../img/rooms/2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	button{
		color: $whiteletters;
		outline: none;
		border: none;
		@extend %uppercase;
		font-family: Flaticon;
	}
}