
body{
	width: 100%;
	*{
		background: none;
	box-sizing: border-box;
	}
}
aside{
	width: 280px;
	height: 100vh;
	float: left;
	position: static;
}
section{
	width: calc(100% - 280px);
}
.flexhor, .fleximages{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.flexhor{
	flex-wrap: wrap;
}
#presentation{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	text-align: center;
	height: 75vh;
	@extend %uppercase;
	background-image: url(../img/slider/2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	button{
		color: $whiteletters;
		outline: none;
		border: none;
		@extend %uppercase;
		font-family: Flaticon;
	}
	h1{
		font-size: 3rem;
	}
}
.fleximages{
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 50%;
	flex-wrap: wrap;
	img{
		width: 40%;
	}
}
.lighterblack{
	background-color: $black3;
}
.button{
	width: fit-content;
	padding: 1rem;
	background: none;
	border: solid 1px #ffffffff;
	outline-color: #ffffffff;
	outline-width: 1px;
	outline-style: solid;
}
.flexhor{
	box-sizing: border-box;
	div{
		width: 50%;
	}
}
#services{
	box-sizing: border-box;
	div{
		width: 50%;
		box-sizing: border-box;
		margin: 0;
		height: 450px;
		img{
			height: 100%;
			overflow: hidden;
			
		}
	}
}