* {
    background-color: $black1;
}

.image-room {
    display: flex;
    height: 50%;
    width: 70%;
}

.text {
    margin-left: 20%;

    p {
        color: gray;
        line-height: 2;
    }

    .chambre {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 2rem;
    }

    .ducs {
        margin-right: 150px;

        .hotel {
            line-height: 2;

        }
    }

    .amen {

        display: flex;
        flex-direction: column;
        gap: 2rem;

        .liste-amen {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            color: gray;

            i {
                color: $goldstars;
                margin-right: 1rem;
            }
        }
    }
}

.text2 {
    padding-left: 2rem;
}

.chek {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

.chekin {
    margin-right: 160px;

    .check {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 0;
    }

    padding-bottom: 2rem;
}

h1 {
    font-size: 40px;
    font-family: "Merriweather", serif;
    font-weight: 2;
    font-style: normal;
}

h3 {

    font-size: 25px;
    font-family: "Merriweather", serif;
    font-weight: 2;
    font-style: normal;
    color: white;
}

.title {
    color: $goldstars;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}


.text-image {
    // Centrer parfaitement avec une transformation
    color: white; // Couleur du texte
    font-size: 20px; // Taille du texte
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    background: none;
    padding: 0 50px;

    p {
        color: white;
    }

    .star {
        margin-bottom: 50px;
        position: absolute; // Positionne le texte en superposition
        top: 23%; // Centre verticalement
        left: 55%; // Centre horizontalement
        transform: translate(-50%, -50%);
        color: $goldstars;
    }

    .texte {
        background: none;
        font-size: 60px;
        font-style: italic;
        position: absolute; // Positionne le texte en superposition
        top: 35%; // Centre verticalement
        left: 55%; // Centre horizontalement
        transform: translate(-50%, -50%);
        letter-spacing: 0.5rem;

    }

    .texte1 {
        background: none;
        font-size: 13px;
        position: absolute; // Positionne le texte en superposition
        top: 28%; // Centre verticalement
        left: 55%; // Centre horizontalement
        transform: translate(-50%, -50%);
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
    }

    .texte2 {
        background: none;
        font-size: 60px;
        position: absolute; // Positionne le texte en superposition
        top: 45%; // Centre verticalement
        left: 55%; // Centre horizontalement
        transform: translate(-50%, -50%);
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 0.5rem;

    }
}



.back-image {
    background-image: url('../img/rooms/4.jpg');
    background-position: center;
    width: 80%;
    margin-left: 20%;
    display: flex;
    justify-content: end;
    height: 700px;
    padding: 330px;
}

p {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;

}

button {
    background-color: #3B3B3B;
    border: none;
    padding: 10px;
    color: white;
    width: 220px;
}