#sidebar {
    background-color: $black1;
    width: 20%;
    padding: 20px;
    position: fixed;
    height: 100vh;
    box-sizing: border-box;

    .logo {
        text-align: center;
        color: $goldstars;

        p {
            color: $whiteletters;
        }
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin-top: 40px;

        li {
            margin: 20px 0;

            a {
                text-decoration: none;
                color: $greyletters;
                font-weight: 400;
                transition: color 0.3s;

                &:hover {
                    color: $goldstars;
                }

                &.active {
                    color: $goldstars;
                    font-weight: 700;
                }
            }
        }
    }

    .contact-info {
        margin-top: 50px;
        color: $greyletters;

        a {
            color: $goldstars;
            text-decoration: none;
        }
    }
}